.container {
  max-width: 1310px;
  padding: 0;
}

.navbar {
  background-color: #f72210;
  padding: 10px 8px;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.logo-img {
  width: 125px;
}

.navbar svg {
  color: rgba(255, 255, 255, 0.75);
  font-size: 23px;
}

.navbar button {
  padding: 0;
}

.nav-offer {
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ffe400;
  padding: 2px 16px;
}

.nav-offer p {
  margin: 0;
}

.navbar-collapse {
  width: 220px;
  background-color: #fff;
  flex-grow: 0;
  flex-basis: 35%;
}
