body {
  background-color: rgb(244, 245, 246);
}

.container {
  max-width: 1310px;
  padding: 0;
}

.navbar {
  background-color: #f72210;
  padding: 10px 8px;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.logo-img {
  width: 125px;
}

.navbar svg {
  color: rgba(255, 255, 255, 0.75);
  font-size: 23px;
}

.svg-dropdown {
  color: black !important;
  border: none;
  outline: none;
}

.navbar button {
  padding: 0;
}

.nav-offer {
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ffe400;
  padding: 2px 16px;
}

.nav-offer p {
  margin: 0;
}

.navbar-collapse {
  flex-grow: 0;
  display: flex;
}

.nav-col-container {
  width: 220px;
  background-color: #fff;
}

.form-control {
  width: 85%;
  border: 0;
}

.nav-link {
  color: black;
  font-weight: bold;
}

.navbar-nav {
  padding: 12px;
  border-bottom: 1px solid #dedede;
}

.trending-li {
  color: rgb(128, 127, 132);
  font-weight: 500;
  line-height: 1;
}

.row {
  margin: 0;
}

.row div {
  padding: 0;
}

.card-body {
  padding: 10px 0;
}

.card-text {
  font-size: 0.8em;
}

.article-section {
  background-color: white;
}

.article-section h4 {
  color: rgba(3, 3, 3, 0.4);
  font-size: 1em;
  font-weight: 700;
  line-height: 1.2;
}

.card-body h4 {
  font-size: 1.4em;
  color: black;
  font-weight: bold;
}
