body {
  background-color: rgb(244, 245, 246);
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1310px;
  padding: 0;
}

a {
  color: black;
}

/* ---------------------- NAVBAR --------------------- */

.navbar {
  background-color: #f72210;
  padding: 10px 8px;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.logo-img {
  width: 125px;
}

.navbar svg {
  color: rgba(255, 255, 255, 0.75);
  font-size: 23px;
}

.svg-dropdown {
  color: black !important;
  border: none;
  outline: none;
}

.navbar button {
  padding: 0;
}

.nav-offer {
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ffe400;
  padding: 2px 16px;
}

.nav-offer p {
  margin: 0;
}

.navbar-collapse {
  flex-grow: 0;
  display: flex;
}

.nav-col-container {
  width: 220px;
  background-color: #fff;
}

.form-control {
  width: 85%;
  border: 0;
}

.nav-link {
  color: black;
  font-weight: bold;
}

.navbar-nav {
  padding: 12px;
  border-bottom: 1px solid #dedede;
}

.trending-li {
  color: rgb(128, 127, 132);
  font-weight: 500;
  line-height: 1;
}

/* ---------------------- MAIN CONTENT ----------------- */

.row {
  margin: 0;
}

.row div {
  padding: 0;
}

.card {
  border: none;
  border-radius: 0;
}

.wrapper {
  position: relative;
}

.wrapper .category {
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
}

.category a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  color: #f72210;
}

.card-body {
  padding: 10px 0;
}

.card-text {
  font-size: 0.8em;
}

.article-section {
  background-color: white;
}

.article-section h4 {
  color: rgba(3, 3, 3, 0.4);
  font-size: 1em;
  font-weight: 700;
  line-height: 1.2;
}

.card-body h4 {
  font-size: 1.4em;
  color: black;
  font-weight: bold;
}

.img-div {
  height: 75px;
  width: 75px;
}

.img-div img {
  width: 63px;
  height: 63px;
}

.decoration {
  width: 50px;
  height: 50px;
  padding: 10px;
  color: #d6d6d6;
  background-color: black;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.decoration-container::before {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  right: 0;
  z-index: 1;
}

.decoration-container::after {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  top: calc(50% + 2px);
  left: 0;
  right: 0;
  z-index: 1;
}

.debate-wrapper {
  border-top: 4px solid #d9d9d9;
  border-bottom: 4px solid #d9d9d9;
}

/* ---------------- Opinion's Section ------------------ */

.author {
  font-size: 14px;
}

.opinion-article {
  border-bottom: 1px solid #d9d9d9;
}

.wrapper h5 {
  font-size: 17px;
  line-height: 20px;
}

.opinion-subfeature {
  font-size: 14px;
  line-height: 21px;
  color: #555;
  text-transform: uppercase;
  margin-top: 4px;
}

/* ---------------- Ad's Section ------------------ */

.ad-category a {
  color: #3581f4;
}

.ad-tittle {
  font-size: 20px;
  line-height: 20px;
}

.ad-text,
.ms-description {
  color: #333;
  font-size: 13px;
  line-height: 18px;
}

/* ---------------- More Stories's Section ------------------ */

.more-stories-article {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.ms-img {
  height: 95px;
  width: 95px;
}
